How is it possible to send messages from server to client?

Hi 

I was looking into this project as it has support for TCP as written in the README file. 
I have connected a client to a server and can send messages and receive answers. 

In order to make two-way communication between client and server when the client is behind a NAT or firewall without using (the currently unsupported) websockets, I was looking into sending a message from the server to the client by using the already established session, which should be possible as written in the RFC8323 section 3.3 'Message Transmission':
> 
> The Transport Connection is bidirectional, so requests can be sent by
>    both the entity that established the connection (Connection
>    Initiator) and the remote host (Connection Acceptor). 

I can see that there is a makeRequest() method for the server, but I am missing a corresponding addRequestHandler for the client in order to catch the request made by the server.  

Is this functionality supported at the moment? 
Or am I missing something obvious? 

Thanks
